head {
  background-color:#01B0B2;


}

body {
    background-color: powderblue;
    font-family: Georgia cursive;
}

h1 {
    color: #FF8134 ;
    margin-left: ;
    margin: auto;
    text-align: center;
    font: Georgia;
    font-size: 48x;
    text-align: center;
    text-indent: inherit;


}


h2 {
     text-align: center;
     color: #B24F12;
}



p {
  font: Georgia sans serif;
  font-size: 24px;
  text-align: center;
  margin: inherit;
  
}

li {
  font: Georgia;
  font-size: 24px;
  text-align: center;
  margin: auto;
  text-indent: inherit;
}

ul {
  font: Georgia;
  font-size: 24px;
  text-align: center;
  margin: auto;
  text-indent: inherit;
}

img  {
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  align-items: center;


}
